*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #f5f5f5;
}

header nav{
    background-color: #000;
    padding: 10px  0;
}
header nav .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .container h3{
    
    font-size: 2rem;
    margin-bottom: 20px; 
}

header nav .logo{
    color: #fff;
    text-decoration: none;
}

header nav .menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header .hero{
    background-image: url('../Imagens/bg-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero .formBusca{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

header .hero .formBusca input{
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    border: 1 px solid rgba(0, 0, 0, .3);
    text-align: center;
    justify-content: center;
}

header .hero .formBusca  button{

    width: 10%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius:  5px;
    border: 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    background-color:  #000;
    color: #fff;
    cursor: pointer;
    
}

main .container h3{
   font-size: 2rem;
   margin-bottom: 20px;  
}

main .container .galeria {
    display: flex;
    flex-direction: column;

}

main .container .galeria .produto {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 3px  rgba(0, 0, 0, .3);
    transition: 0.3s ease;
}

main  .container .produto:hover {
    background-color: #f5f5f5;
}

main .container .produto img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    
}

main .container .produto h4 {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

main .container  .produto button{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius:  5px;
    border: 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    background-color:  #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    transition: 0.3s ease;
}

main .container .produto a {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius:  5px;
    border: 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    background-color:  #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    transition: 0.3s ease;
}

main .container .produto button:hover{
    background-color: #dedede;
    color: #000;
}

footer {
    padding: 10px 0px;
}

footer .container p {
    text-align: center;
    font-weight: bold;
}

@media (min-width: 600px) {
    main .container .galeria {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
main .container .galeria .produto {
    width: 300px;
}  

main .container .click{
   
    text-align: right;
    justify-content: right;
}

/*Modal*/
.modal {
    /*position: fixed;*/
    width: 70%;
    left: 15%;
    top: 40%;  
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    margin: 0px auto;
}


/*Form Produto*/
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px ;
}

.form-control{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    
}

.list-group-item{
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px ;
}
.list-group-final{
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px ;
}

.btn{
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.85;
}

.btn-success{
    background: green;
    color: #fff;

}

.btn-danger{
    background: red;
    color: #fff;
    
    
}



/*Container*/
.container{   
    width: 90vw;
    margin: 0px auto;
}

main .container .itens {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;

} 